html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    display:flex;
    justify-content:center;
    text-align: center;
    color:white;
    background-image: linear-gradient(to bottom, #2160bd, #3a72bc);
   
    
    
}

.navbar{
    position: fixed;
    top:0;
    left:0;
    background-image: linear-gradient(to bottom, #0e4097, #1b53b4); 

}

.nav-item{
    color:white
}


.rolagem_texto {
    display: flex;
    color: white;
    font-size: 1.5rem;
    height: 40px;
    background-image: linear-gradient(to bottom, #2160bd, #3a72bc);
    
    
}

.titulo {
    display: inline;
    font-size: 3rem;
    font-size: 2rem;
    
}


.logo {
    margin-top: 5%;
    width: 6rem;
    position: initial;
}



#renderCanvas {  
    border-radius: 20px;
	width: 70%;
	height: 70%;
	touch-action:auto;
    background: #ffffff;
    box-shadow:  9px 9px 18px #dbdbdb,
                 -9px -9px 18px #ffffff;
}

#renderCanvas:hover {
    cursor:pointer;
}


.titulo{
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.base{
    display: flex;
    justify-content: center;
    align-items: center; 
}




.informacoes {
   display: flex; 
   justify-content: center;
   align-items: center;  
   
}


#tabela_primaria {
    width: 70%;
    color:white;
    background-color: #0f4699;
    background-image: linear-gradient(to bottom, #043e94, #032e66);
    border-radius: 10px;
    border:none;
    margin-top: 5%;
    
}

.titulo_fontes {
    font-size: 2rem;
    text-align: center;

}

.card{
    margin: 10%;
}




footer {
    margin-top: 5%;
    color:white;
    background-image: linear-gradient(to bottom, #2160bd, #3a72bc);
    
}

.footer_esquerda {
    display: flex;
    justify-content: start;
    text-align: start;

}

.link_site {
    display: flex;
    justify-content: center;
    text-align: center;    
    margin-bottom: 5%;
}

.base1 {
    display: flex;
    justify-content: center;
    align-items: center; 

}

#renderCanvas1 {
    border-radius: 20px;
	width: 60%;
	height: 60%;
	touch-action:auto;
    background: #ffffff;
    margin: 1%;
    box-shadow:  9px 9px 18px #dbdbdb,
                 -9px -9px 18px #ffffff;

}

#renderCanvas1:hover {
    cursor:pointer;
}

    
#renderCanvas2 {
    border-radius: 20px;
	width: 60%;
	height: 60%;
	touch-action:auto;
    background: #ffffff;
    margin: 1%;
    box-shadow:  9px 9px 18px #dbdbdb,
    -9px -9px 18px #ffffff;
}


#renderCanvas2:hover {
    cursor:pointer;
}



.base2 {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tabela_embarcacao {
    margin-left: 10%;
    margin-right: 10%;
}

.titulo_educacional {
    text-align: center;
    margin:1%;
}

.texto_embarcacao_pesca {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(228, 228, 228);
    font-size: 1.5rem;
}

.caixa_init {
    display: flex;
    justify-content: center;
    margin-top: 20%;

}

.botao_init {
    color: white;
    font-size: 4rem;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to bottom, #043e94, #032e66);
    border-radius: 10px;
    width: 50vh;
    height: 10vh;
}